body {
    margin: 0;
    padding: 0;
}

header, nav, #wrapper {
    width: 100%;
}


nav {
    background-color: #454545; /* Sötétszürke alap */
    height: 40px;
    height: 40px;
    width: 100%;
    margin: 0;      
    padding: 0;
    border-radius: 0;
}

.top-level-menu {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.top-level-menu > li {
    position: relative;
    height: 40px;
    width: 160px;
    border-radius: 0;
}

/* Almenü pozicionálása */
.second-level-menu {
    position: absolute;
    top: 40px;
    left: 0;
    width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 1000;
}

.top-level-menu li:hover {
    background: #FF0000; 
}

.top-level-menu li:hover > .second-level-menu {
    display: block; 
}

.top-level-menu a {
    font-family: 'Orbitron', sans-serif; 
    color: #FFFFFF;
    text-decoration: none;
    line-height: 40px;
    padding: 0 15px;
    display: block;
}

.second-level-menu li {
    background-color: #333;
    border-bottom: 1px solid #444;
    border-radius: 0;
}


#content {
    display: block; 
    padding: 0px;
    background-color: #f4f4f4;
}